<!doctype html>
<html>
    <head>
        <title>{{title}}</title>
        
    </head>
<body>
    
    <div class="wrapper">
        <div class="header">
            LC101 Build-a-Blog
        </div>
        <div id="menu">
            <ul>
                <li><a href="/home"> Home </a></li>
                <li><a href="/post"> Post </a></li>
                <li><a href="/users"> Users </a></li>
                <li><a href="/about"> About </a></li>
                <li><a href="/login"> Login </a></li>
                <li><a href="/logout"> Logout </a></li>
                <li><a href="/register"> Register </a></li>
            </ul>
        </div>
    </div>
    {% block content %}
    {% endblock %}  

</body> 
</html>
